<div class="max-w-6xl mx-auto space-y-12">
  <header>
    <h1 class="text-5xl font-black text-white uppercase tracking-tighter">Command <span class="text-gray-500">Center</span></h1>
    <p class="text-gray-400 mt-4 text-xl">Operational excellence in progress.</p>
  </header>

  <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
    <div class="bg-zinc-900 p-8 rounded-3xl border border-zinc-800 shadow-2xl">
      <span class="text-zinc-500 font-bold text-xs uppercase tracking-widest">Total Users</span>
      <div class="mt-4 flex items-baseline">
        <span class="text-6xl font-black text-white">{{ stats?.totalUsers || 0 }}</span>
      </div>
    </div>
    <div class="bg-zinc-900 p-8 rounded-3xl border border-zinc-800 shadow-2xl">
       <span class="text-zinc-500 font-bold text-xs uppercase tracking-widest">Total Doctors</span>
       <div class="mt-4 flex items-baseline">
        <span class="text-6xl font-black text-white">{{ stats?.totalDoctors || 0 }}</span>
      </div>
    </div>
    <div class="bg-zinc-900 p-8 rounded-3xl border border-zinc-800 shadow-2xl">
       <span class="text-zinc-500 font-bold text-xs uppercase tracking-widest">Total Patients</span>
       <div class="mt-4 flex items-baseline">
        <span class="text-6xl font-black text-white">{{ stats?.totalPatients || 0 }}</span>
      </div>
    </div>
  </div>
</div>
